actionlib==1.12.1
angles==1.9.12
base_local_planner==1.16.7
bondpy==1.8.5
camera_calibration==1.15.0
camera_calibration_parsers==1.11.13
catkin==0.7.29
catkin-pkg==0.4.24
controller_manager==0.18.4
controller_manager_msgs==0.18.4
cv_bridge==1.13.0
cycler==0.11.0
Cython==0.29.28
diagnostic_updater==1.9.7
docutils==0.18.1
drone_wrapper==1.3.10
dynamic_reconfigure==1.6.3
fonttools==4.31.1
gazebo_plugins==2.8.7
gazebo_ros==2.8.7
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.16
gennodejs==2.0.1
genpy==0.6.16
geodesy==0.5.3
gps_common==0.3.1
image_geometry==1.13.0
interactive-markers==1.11.5
joblib==1.1.0
joint_state_publisher==1.12.15
kiwisolver==1.4.0
laser_geometry==1.6.7
matplotlib==3.5.1
mavros==1.12.2
mbf_abstract_nav==0.4.0
message_filters==1.14.12
numpy==1.21.5
opencv-python==4.5.5.64
packaging==21.3
Pillow==9.0.1
protobuf==3.19.4
py-trees==0.6.9
pyparsing==3.0.7
PySide2==5.15.2
python-dateutil==2.8.2
python_qt_binding==0.4.4
PyYAML==6.0
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
resource_retriever==1.12.7
rosbag==1.14.12
rosboost-cfg==1.14.9
rosclean==1.14.9
roscreate==1.14.9
rosgraph==1.14.12
roslaunch==1.14.12
roslib==1.14.9
roslint==0.11.2
roslz4==1.14.12
rosmake==1.14.9
rosmaster==1.14.12
rosmsg==1.14.12
rosnode==1.14.12
rosparam==1.14.12
rospkg==1.4.0
rospy==1.14.12
rosserial_python==0.8.0
rosservice==1.14.12
rostest==1.14.12
rostopic==1.14.12
rosunit==1.14.9
roswtf==1.14.12
rqt-moveit==0.5.10
rqt-reconfigure==0.5.4
rqt-robot-monitor==0.5.13
rqt-rviz==0.7.0
rqt_action==0.4.9
rqt_bag==0.5.1
rqt_bag_plugins==0.5.1
rqt_console==0.4.9
rqt_controller_manager==0.18.4
rqt_dep==0.4.9
rqt_drone_teleop==1.3.10
rqt_ez_publisher==0.5.0
rqt_graph==0.4.11
rqt_ground_robot_teleop==1.3.10
rqt_gui==0.5.2
rqt_gui_py==0.5.2
rqt_image_view==0.4.16
rqt_joint_trajectory_controller==0.17.2
rqt_joint_trajectory_plot==0.0.5
rqt_launch==0.4.8
rqt_launchtree==0.2.0
rqt_logger_level==0.4.8
rqt_msg==0.4.8
rqt_multiplot==0.0.10
rqt_nav_view==0.5.7
rqt_paramedit==1.0.1
rqt_play_motion_builder==1.0.2
rqt_plot==0.4.13
rqt_pose_view==0.5.8
rqt_publisher==0.4.8
rqt_py_common==0.5.2
rqt_py_console==0.4.8
rqt_py_trees==0.3.1
rqt_robot_dashboard==0.5.7
rqt_robot_steering==0.5.10
rqt_rotors==2.2.3
rqt_runtime_monitor==0.5.7
rqt_service_caller==0.4.8
rqt_shell==0.4.9
rqt_srv==0.4.8
rqt_tf_tree==0.6.0
rqt_top==0.4.8
rqt_topic==0.4.11
rqt_virtual_joy==0.1.2
rqt_web==0.4.8
rviz==1.13.21
scikit-learn==1.0.2
scipy==1.7.3
sensor-msgs==1.12.8
shiboken2==5.15.2
six==1.16.0
sklearn==0.0
smach==2.0.1
smclib==1.8.5
tensorboardX==2.5
tf==1.12.1
tf2_geometry_msgs==0.6.5
tf2_kdl==0.6.5
tf2_py==0.6.5
tf2_ros==0.6.5
tf2_sensor_msgs==0.6.5
tf2_server==1.0.6
tf_conversions==1.12.1
threadpoolctl==3.1.0
topic_tools==1.14.12
torch==1.4.0
torchvision==0.5.0
turtlebot3_automatic_parking==1.1.0
turtlebot3_automatic_parking_vision==1.1.0
turtlebot3_autorace_camera==1.2.0
turtlebot3_autorace_control==1.2.0
turtlebot3_autorace_core==1.2.0
turtlebot3_autorace_detect==1.2.0
turtlebot3_example==1.2.5
turtlebot3_teleop==1.2.5
typing_extensions==4.1.1
unique_id==1.0.6
urdfdom-py==0.4.5
xacro==1.13.13
